<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Testrec{% endblock %}</title>
        {% block stylesheets %}
            {% include 'Layout/style/stylesheets.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'Layout/javascript/javascript.html.twig' %}
        {% endblock %}
    </body>
</html>
