<div class="row headertop-1">
    <div class="container">
        <a href="#" id="logout" class="btn btn-primary">
            Se déconnecter            
        </a>
    </div>
</div>
<div class="row headertop-2">
    <div class="container">
        <div class="block-infos">
            <div class="logo">
                <img src="{{asset('logo-dev-evoluer.png')}}" class="logo"/>
            </div>
            <div class="date text-center">
                <p>01 xx xx xx xx</p>
                <p>De lundi à vendredi de 9h à 18h</p>
            </div>
        </div>
    </div>
</div>
